@{
    Layout="_Layout";
}
@using Registrar.ViewModels
@model RegistrarCreateViewModel

<h4>Add new Course</h4>

@using (Html.BeginForm("Create", "Courses", FormMethod.Post,new{ enctype="multipart/form-data"}))
{   
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Photo)
    @Html.TextBoxFor(model => model.Photo, new { type = "file" })

    <p>
   <button type="submit" class="btn btn-primary"> Add New Course </button>
    </p>
@Html.ValidationSummary()

 @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
}

<p> @Html.ActionLink("Show all the Courses", "Index")</p>